.sobriety-calculator-container {
	box-sizing: border-box;
	text-align: center;
	padding: 20px;
	background-color: transparent;
	border-radius: 10px;
	max-width: 400px;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sobriety-calculator-input {
	width: 100%;
	padding: 8px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 24px;
	text-align: center;
}

.total-sober-time {
	font-size: 28px;
	margin-top: 20px;
}

.total-days-sober,
.total-hours-sober {
	font-size: 26px;
	margin-top: 10px;
	color: #555;
}
