.gratitude-list-container {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	background-color: #f5f5f5; /* Add background color */
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add box shadow */
}

.view-history-button {
	background-color: #3a9d9a;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 14px;
	cursor: pointer;
	transition: background-color 0.3s;
}
.view-history-button:hover {
	background-color: #357f7c;
}

.copy-clip-button {
	background-color: #3a9d9a;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 14px;
	cursor: pointer;
	transition: background-color 0.3s;
}
.copy-clip-button:hover {
	background-color: #357f7c;
}

h2 {
	color: #333;
}

.gratitude-item {
	margin-bottom: 10px;
}

.gratitude-item-number {
	font-weight: bold;
	margin-right: 5px;
	color: #333; /* Set text color */
}

input[type='text'] {
	width: 80%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	color: #333; /* Set text color */
}

/* .gratitude-remove-item {
	background-color: #ff0000;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	margin-left: 10px;
	cursor: pointer;
}

.gratitude-remove-item:hover {
	background-color: #cc0000;
} */

.gratitude-remove-item,
.gratitude-add-gratitude,
.gratitude-save-button {
	color: white; /* Set text color */
	font-weight: bold;
	cursor: pointer;
}
.gratitude-remove-item,
.gratitude-add-gratitude {
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	margin-left: 10px;
}

.gratitude-remove-item {
	background-color: #ff0000;
}
.gratitude-remove-item:hover {
	background-color: #cc0000;
}

.gratitude-add-gratitude {
	background-color: #3a9d9a;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 14px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.gratitude-add-gratitude:hover {
	background-color: #006600;
}

.gratitude-save-button {
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	margin-top: 20px;
	cursor: pointer;
}

.gratitude-save-button:hover {
	background-color: #111;
}
