.question-history-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	color: black;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	display: none;
	max-height: 50vh;
	overflow-y: auto;
	width: 40%;
}

.close-button {
	background-color: #3a9d9a;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 14px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.close-button:hover {
	background-color: #357f7c;
}

.question-history-modal .history-content {
	margin-top: 1em;
}

.question-history-modal .history-entry {
	margin-bottom: 1em;
}

.question-history-modal .date {
	font-weight: bold;
	margin-bottom: 0.5em;
	text-align: center;
}

.question-history-modal .response {
	margin-left: 1em;
}

.question-history-modal .question-entry {
	margin-left: 1em;
	font-weight: bold;
}

.question-entry {
	margin-bottom: 1rem;
}

.question-item {
	margin: 0.5rem 0;
}

.question-history-modal.show {
	display: block;
}
