.question-history-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	display: none; /* Initially hidden */
}

.question-history-modal .history-content {
	margin-top: 1em;
}

.question-history-modal .history-entry {
	margin-bottom: 1em;
}

.question-history-modal .date {
	font-weight: bold;
	margin-bottom: 0.5em;
}

.question-history-modal .response {
	margin-left: 1em;
}

/* everything below can likely be deleted */
.question-entry {
	margin-bottom: 1rem; /* Adds space between different dates */
}

.question-item {
	margin: 0.5rem 0; /* Controls vertical space between individual gratitude items */
}

.question-history-modal.show {
	display: block;
}
