.eleven-questions-form-container {
	background-color: #f5f5f5;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	max-width: 600px;
	margin: 0 auto;
}
.question-container {
	margin-bottom: 20px;
}
.question-text {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #333;
}
.answer-input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 14px;
}
.nav-buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
.nav-button {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	cursor: pointer;
	background-color: #3a9d9a;
	transition: background-color 0.3s;
}
.nav-button:hover {
	background-color: #357f7c;
	color: white;
}
.send-button {
	background-color: #3a9d9a;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 14px;
	cursor: pointer;
	transition: background-color 0.3s;
}
.send-button:hover {
	background-color: #357f7c;
}
