#root {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}

body {
	background-color: #282c34;
	color: white;
	font-family: 'Roboto', sans-serif;
	margin: 0px;
}

.outer-container {
	box-sizing: content-box;
	max-width: 1260px;
	background-color: transparent;
	height: 100vh;
}

.inner-content-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 89vh;
}
