#root {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}

body {
	background-color: #282c34;
	color: white;
	font-family: 'Roboto', sans-serif;
	margin: 0px;
}

.outer-container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	height: 100vh;
	margin: 0 auto;
	max-width: 1260px;
	background-color: transparent;
	padding: 0 15px;
}

.inner-content-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 89%;
	width: 100%;
}

@media (max-width: 768px) {
	.outer-container {
		flex-direction: column;
	}

	.inner-content-container {
		flex-direction: column;
	}
}
